.error-404 {
    height: 100vh;
    display: flex;
    font-size: 2.2rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color);
}

.error-text {
    margin: 6px;
    max-width: 98%;
}

.error-text a:link {
    text-decoration: none;
    color: var(--hypertext-color);
}

.error-text a:hover {
    text-decoration: underline;
}