.content {
    gap: 10px;
    display: flex;
    max-width: 96%;
    align-items: center;
    flex-direction: column;
    margin: 100px auto 30px;
}

.commission-container {
    gap: 16px;
    display: flex;
    max-width: 98%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.first-button-container {
    opacity: 0;
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    justify-content: center;
    animation: load 1s 0.25s forwards;
}

.other-buttons-container {
    gap: 6px;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    animation: load 1s 0.5s forwards;
}

.first-button-container .quest-button {
    width: 270px;
    font-size: 15px;
    font-weight: bold;
}

.other-buttons-container .quest-button {
    width: 156px;
    height: 50px;
    font-size: 12px;
}

.quest-button {
    padding: 8px;
    display: flex;
    cursor: pointer;
    text-align: center;
    align-items: center;
    border-radius: 14px;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

.quest-button:hover {
    transform: translateY(-2px);
}

.quest-button.active {
    font-weight: bold;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
}

.commission-details {
    opacity: 0;
    width: 600px;
    max-width: 98%;
    border-radius: 16px;
    box-sizing: border-box;
    color: var(--text-color);
    padding: 0px 20px 20px 20px;
    animation: load 1s 0.75s forwards;
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-color);
}

.commission-details h2 {
    text-align: center;
    text-decoration: underline;
}

.commission-section,
.commission-details p {
    margin-bottom: 8px;
}

.commission-details ul {
    margin-top: 8px;
}

.commission-section {
    margin-top: 24px;
}

.commission-text {
    margin: 8px 0px;
}

.commission-details a:link {
    text-decoration: none;
    color: var(--hypertext-color);
}

.commission-details a:hover {
    text-decoration: underline;
}

.commission-details a:visited {
    color: var(--hypertext-color);
}

.emote {
    width: 18px;
    height: 18px;
    vertical-align: top;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}

.region-selector {
    animation: load 1s 0s forwards;
}

@keyframes load {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}